__pycache__/filloriginaldata.cpython-36.pyc
__pycache__/filloriginaldata.cpython-36.pyc
__pycache__/filloriginaldata.cpython-36.pyc
__pycache__/utptr_classes.cpython-36.pyc
*.pyc
*.pyc
*.xls
*.csv
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc